<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Shop Home</title>
</head>
<body>

    <header>
        <nav class="menu_bar border">
            
            <div class="menu_button_border">
                <div class="menu_bar_home menu_button">
                    <a href="/">Home</a>
                </div>
            </div>
            <div class="menu_button_border">
                <div class="menu_bar_suppliers menu_button">
                    <a href="/test/scenario_test">Army Lists</a>
                </div>
            </div>
            <div class="menu_button_border">
                <div class="menu_bar_inventory menu_button">
                    <a href="/test/scenario_test">Saved Builds</a>
                </div>
            </div>
            <div class="menu_button_border">
                <div class="menu_bar_about menu_button">
                    <a href="/current_build">Current Build</a>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>