{% extends "base.html" %}
{% block content %} 

<body>

    <h1> Well, hello there! </h1>

    <div class="border"> 
        <p> Here is our first info </p>
        <p> Here is some more...</p>
    </div>

    <div class="border">
        <div class="menu_bar">
            <div class="menu_button_border">
                <div class="menu_button">
                    <a href="/Codex_Eldar">Eldar Army List</a>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %} 